<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>

        <body style="background-color: black; color: white">
            <div class="bdy-container">
                <div class="title">
                    <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
                </div>
                <div class="body-container">
                    <%- include('../partials/nav.ejs') %>
                    <div class="topTracksList" style="justify-content: space-evenly;">

                        <div class="list1">
                            <h3 class="topTracks-title">Liked Shows</h3>
                            <% if (likedShows && likedShows.length > 0) { %>
                                <ol>
                                  <% likedShows.forEach(function(show) { %>
                                    <a class="track-link" href="/show/<%= show.id %>">
                                      <li class="track-card">
                                        <div class="album-cover">
                                          

                                            <% if (show.images && show.images.length > 0) { %>
                                                <img src="<%= show.images[0].url %>" alt="Album cover">
                                              <% } else { %>
                                                <!-- Handle the case when images are not available -->
                                                <img src="https://media.licdn.com/dms/image/D5603AQGgyj1PJz5_Uw/profile-displayphoto-shrink_800_800/0/1691714989041?e=2147483647&v=beta&t=cwhXqcIh3fq23el1x8YAhy01OWiKzmsQjwolnMSVqB4" alt="Placeholder">
                                              <% } %>

                                        </div>
                                        <div class="track-info">
                                          <h2 class="track-title"><%= show.name %></h2>
                                          <p class="artist-name"><%= show.publisher[0].name %></p>
                                        </div>
                                      </li>
                                    </a>
                                  <% }); %>
                                </ol>
                              <% } else { %>
                                <p style="font-family: DM Sans, sans-serif;">No shows found, try liking one</p>
                              <% } %>
                        </div>

                        <div class="list1">
                            <h3 class="topTracks-title">Disliked Shows</h3>
                            <% if (dislikedShows && dislikedShows.length > 0) { %>
                              <ol>
                                <% dislikedShows.forEach(function(show) { %>
                                  <a class="track-link" href="/show/<%= show.id %>">
                                    <li class="track-card">
                                      <div class="album-cover">

                                        <% if (show.images && show.images.length > 0) { %>
                                          <img src="<%= show.images[0].url %>" alt="Album cover">
                                        <% } else { %>
                                          <!-- Handle the case when images are not available -->
                                          <img src="https://media.licdn.com/dms/image/D5603AQGgyj1PJz5_Uw/profile-displayphoto-shrink_800_800/0/1691714989041?e=2147483647&v=beta&t=cwhXqcIh3fq23el1x8YAhy01OWiKzmsQjwolnMSVqB4" alt="Placeholder">
                                        <% } %>
                                        
                                      </div>
                                      <div class="track-info">
                                        <h2 class="track-title"><%= show.name %></h2>
                                        <p class="artist-name"><%= show.publisher[0].name %></p>
                                      </div>
                                    </li>
                                  </a>
                                <% }); %>
                              </ol>
                            <% } else { %>
                              <p style="font-family: DM Sans, sans-serif;">No Shows found, thats a relief</p>
                            <% } %>
                        </div>
                        
                    </div>
                </div>
            </div>
        </body>