<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Top Tracks</title>
</head>

<body>
    <%- include('../partials/header.ejs')%>

        <body style="background-color: black; color: white">
            <div class="bdy-container">
                <div class="title">
                    <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
                </div>
                <div class="body-container">
                    <%- include('../partials/nav.ejs') %>
                        
                        <div class="topTracksList">
                            <div class="list1">
                            
                                
                                 <h3>All Time</h3>
                                <% if (tracks && tracks.items) { %>

                                    <ol>
                                        <% tracks.items.forEach(function(track) { %>
                                            <li>
                                                <b id="jaja">
                                                    <img src="<%= track.album.images[0].url%>" width="65"> <%= track.name %>
                                                </b>
                                                <%= '   by    ' + track.artists[0].name %> 
                                                

                                            </li>
                                            <% }); %>
                                    </ol>

                                    <% } else { %>
                                        <p>No tracks found.</p>
                                        <% } %>
                            </div>



                            <div class="list2">
                                <h3>Past Month</h3>
                                
                                <% if (tracks && shortTermTracks.items) { %>

                                    <ol>
                                        <% shortTermTracks.items.forEach(function(track) { %>
                                            <li>
                                                <b id="jaja">
                                                    <img src="<%= track.album.images[0].url%>" width="65"> <%= track.name %>
                                                </b>
                                                <%= '   by    ' + track.artists[0].name %> 
                                            </li>
                                            <% }); %>
                                    </ol>

                                    <% } else { %>
                                        <p>No tracks found.</p>
                                        <% } %>
                            </div>
                            <div class="list3">
                                <h3>Past Six Months</h3>
                               
                                <% if (tracks && mediumTermTracks.items) { %>

                                    <ol>
                                        <% mediumTermTracks.items.forEach(function(track) { %>
                                            <li>
                                                <b id="jaja">
                                                    <img src="<%= track.album.images[0].url%>" width="65"> <%= track.name %>
                                                </b>
                                                <%= '   by    ' + track.artists[0].name %>
                                            </li>
                                            <% }); %>
                                    </ol>

                                    <% } else { %>
                                        <p>No tracks found.</p>
                                        <% } %>
                            </div>
                        </div>
                </div>


            </div>




            </div>
            <p id="name"></p>
        </body>

</html>