<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>
    <body style="background-color: black; color: white">
        <div class="bdy-container">
            <div class="title">
                <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
            </div>
            <div class="body-container">
                <%- include('../partials/nav.ejs') %>
                <% if (track) { %>
                    <div class="track-big">
                        <div class="track-cover-big">
                            <img src="<%= track.album.images[0].url %>" alt="Track image">
                        </div>
                        <div class="track-info-big">
                            <h2 class="track-title-big"><%= track.name %></h2>
                            <p class="artist-name-big"><%= track.artists[0].name %></p>
                            <p class="artist-name-big">Album: <%= track.album.name %></p>
                            <p class="artist-name-big">Released: <%= track.album.release_date %></p>
                            <p class="artist-name-big">Spotify Song Popularity (0-100): <%= track.popularity %></p>
                        
                            <%# Likes and dislikes %>
                            <div class="post-ratings-container">
                                <div class="post">
                                    <!-- Like Button -->
                                    <form action="/like/<%= track.id %>" method="GET">
                                      <button type="submit" style="background: none; border: none; padding: 0; color: inherit; font: inherit;">
                                        <span class="material-symbols-outlined" style="font-size: 48px;">thumb_up</span>
                                      </button>
                                      <span class="post-rating-count" style="font-size: 48px;"><%= trackDB.likes %></span>
                                    </form>
                                  </div>
                                  <!-- Dislike Button -->
                                  <div class="post">
                                    <form action="/dislike/<%= track.id %>" method="GET">
                                      <button type="submit" style="background: none; border: none; padding: 0; color: inherit; font: inherit;">
                                        <span class="material-symbols-outlined" style="font-size: 48px;">thumb_down</span>
                                      </button>
                                      <span class="post-rating-count" style="font-size: 48px;"><%= trackDB.dislikes %></span>
                                    </form>
                                  </div>
                                  <a class="logout" style="display: flex; align-items: center; height: 50px;" href="<%= track.uri %>">Listen on Spotify</a>
                            </div>
                        </div>
                  </div>
                  <form action="/comment/<%= track.id %>" method="POST">
                    <div class="comments" style="display: flex; flex-direction: column;">
                      <textarea name="comment" id="comment" cols="90" rows="5" placeholder="Enter your comments" style="resize: none;"></textarea>
                    </div>
                    <button type="submit" class="commentBut">Submit Comment</button>
                  </form>
                  <%# Comments will go here %>
                <% } %>

                  <!-- Display comments -->
                <% if (trackDB.comments && trackDB.comments.length > 0) { %>
                  <div class="comments-list">
                    <% trackDB.comments.forEach(comment => { %>
                      <div class="comment">
                        <p>
                          <strong><%= comment.user.display_name %>:</strong> <%= comment.comment %>
                        </p>
                        <% if (comment.user.spotify_id === userDB.spotify_id) { %>
                          <div class="buttons">
                            <form action="/edit-track-comment/<%= trackDB.track_id %>/<%= comment._id %>" method="post">
                              <button type="submit" class="EditBut">Edit</button>
                            </form>
                            <form action="/delete-track-comment/<%= trackDB.track_id %>/<%= comment._id %>" method="post">
                              <button type="submit" class="DeleteBut">Delete</button>
                            </form>
                          </div>
                        <% } %>
                      </div>
                    <% }); %>
                    <% } %>
                  </div>

                </div>
    </body>