<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs')%>
    <body style="background-color: black; color: white">
        <div class="bdy-container">
            <div class="title">
                <h1 style="text-align: center; padding-top: 5px;">Lethal Tempo</h1>
            </div>
            <div class="body-container">
                <%- include('../partials/nav.ejs') %>
                <% if (track) { %>
                    <div class="track-big">
                        <div class="track-cover-big">
                            <img src="<%= track.album.images[0].url %>" alt="Track image">
                        </div>
                        <div class="track-info-big">
                            <h2 class="track-title-big"><%= track.name %></h2>
                            <p class="artist-name-big"><%= track.artists[0].name %></p>
                        
                            <%# Likes and dislikes %>
                            <div class="post-ratings-container">
                                <div class="post">
                                    <!-- Like Button -->
                                    <form action="/like/<%= track.id %>" method="GET">
                                      <button type="submit" style="background: none; border: none; padding: 0; color: inherit; font: inherit;">
                                        <span class="material-symbols-outlined" style="font-size: 48px;">thumb_up</span>
                                      </button>
                                      <span class="post-rating-count" style="font-size: 48px;"><%= trackDB.likes %></span>
                                    </form>
                                  </div>
                                  <!-- Dislike Button -->
                                  <div class="post">
                                    <form action="/dislike/<%= track.id %>" method="GET">
                                      <button type="submit" style="background: none; border: none; padding: 0; color: inherit; font: inherit;">
                                        <span class="material-symbols-outlined" style="font-size: 48px;">thumb_down</span>
                                      </button>
                                      <span class="post-rating-count" style="font-size: 48px;"><%= trackDB.dislikes %></span>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    <%# Comments will go here %>
                <% } %>
                </div>
            </div>
    </body>